//
//  jr.staging.base.xcconfig
//  cov-stats
//
//  Created by Andrio Frizon on 5/5/20.
//  Copyright © 2020 Jungle Devs. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "jr.base.xcconfig"

BUNDLE_DISPLAY_NAME = cov-stats Staging
ASSETCATALOG_COMPILER_APPICON_NAME = AppIconStaging
PRODUCT_BUNDLE_IDENTIFIER = com.jungledevs.cov-stats.staging

SLASH = / // Workaround to solve double slash problem (can't scape character)
BASE_URL = https:$(SLASH)/api-staging.junglerocks.com
