//
//  staging release.xcconfig
//  cov-stats
//
//  Created by Andrio Frizon on 5/11/20.
//  Copyright © 2020 Jungle Devs. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "../staging.base.xcconfig"
#include "Pods/Target Support Files/Pods-cov-stats/Pods-cov-stats.staging release.xcconfig"
